<html lang="ja">
    <head>    
        <meta charset="UTF-8" />
        <title>Form</title>
        <style>
            h2 {border-bottom:solid 2px black;
                color:darkblue} 
        </style>
    </head>
    <body>
    <center>   
    <h2>法人番号入力画面</h2>
    <form method="POST">
        <P><input type="text" name="num1" placeholder="法人１"></p>
        <p><input type="text" name="num2" placeholder="法人２"></p>
        <p><input type="submit" name="submit" value="検索"></p>      
    </form>
    </center>
    </body>
</html>